html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

em {
  font-style: italic;
}

body {
  background: url(../images/paper.jpg);
}

.wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: relative;
  margin: 25px auto;
}
@media only screen and (min-width: 1280px) {
  .wrapper {
    width: 1280px;
  }
}
@media only screen and (min-width: 990px) and (max-width: 1279px) {
  .wrapper {
    width: 990px;
  }
}
@media only screen and (min-width: 750px) and (max-width: 989px) {
  .wrapper {
    width: 750px;
  }
}
@media only screen and (min-width: 469px) and (max-width: 749px) {
  .wrapper {
    width: 469px;
  }
}
@media only screen and (min-width: 0) and (max-width: 468px) {
  .wrapper {
    width: auto;
  }
}
.wrapper .head {
  position: relative;
  text-align: center;
  margin: 0 10px 45px 10px;
}
.wrapper .head h1 {
  font-family: 'Special Elite', cursive;
  font-size: 33px;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0.2em;
}
.wrapper .sidebar {
  display: block;
  position: relative;
  text-align: center;
  margin: 25px auto;
}
@media only screen and (min-width: 0) and (max-width: 468px) {
  .wrapper .sidebar {
    width: auto;
  }
}
.wrapper .sidebar a {
  color: inherit;
  text-decoration: none;
}
.wrapper .sidebar a:hover {
  text-decoration: underline;
}
.wrapper h1 {
  font-size: 20px;
  position: relative;
  margin-bottom: 5px;
}
.wrapper h2 {
  font-size: 17px;
  position: relative;
  margin-bottom: 10px;
}
.wrapper h3 {
  font-size: 15px;
  line-height: 17px;
  position: relative;
  margin-bottom: 0px;
}
.wrapper .letter {
  padding-top: 15px;
  margin-bottom: 90px;
}
.wrapper .letter blockquote {
  margin-left: 20px;
}
.wrapper footer p {
  font-family: 'Special Elite', cursive;
  font-size: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  padding-top: 30px;
  padding-bottom: 10px;
}
@media only screen and (min-width: 1280px) {
  .wrapper section {
    -moz-columns: 400px 3;
    -webkit-columns: 400px 3;
    columns: 400px 3;
  }
}
@media only screen and (min-width: 990px) and (max-width: 1279px) {
  .wrapper section {
    -moz-columns: 460px 2;
    -webkit-columns: 460px 2;
    columns: 460px 2;
  }
}
.wrapper .main {
  position: relative;
  margin: 10px;
}
@media only screen and (min-width: 990px) and (max-width: 1279px) {
  .wrapper .main {
    width: 1280px;
  }
}
@media only screen and (min-width: 990px) and (max-width: 1279px) {
  .wrapper .main {
    width: 990px;
  }
}
@media only screen and (min-width: 750px) and (max-width: 989px) {
  .wrapper .main {
    width: 750px;
  }
}
@media only screen and (min-width: 469px) and (max-width: 749px) {
  .wrapper .main {
    width: 469px;
  }
}
@media only screen and (min-width: 0) and (max-width: 468px) {
  .wrapper .main {
    width: auto;
    margin: 0 10px;
  }
}

/* Flaired edges, by Tomas Theunissen */
hr {
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

hr:before {
  /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

/********** WRITING STYLES ************/
.harrison {
  font-family: 'Reenie Beanie', cursive;
  color: rgba(81, 44, 15, 0.9);
  line-height: 1.1em;
  font-size: 24px;
}
.harrison p {
  margin-top: 10px;
  text-indent: 20px;
}

.alberts {
  font-family: 'Sue Ellen Francisco', cursive;
  color: rgba(11, 4, 15, 0.9);
  line-height: 1.3em;
  font-size: 22px;
}
.alberts p {
  margin-top: 16px;
  text-indent: 30px;
}

.gail {
  font-family: 'League Script', cursive;
  line-height: 1.3em;
  font-size: 22px;
}
.gail p {
  margin-top: 20px;
}

.wyndham {
  font-family: 'Nothing You Could Do', cursive;
  line-height: 1.1em;
  font-size: 18px;
}
.wyndham p {
  margin-top: 20px;
}
.wyndham blockquote {
  margin-top: 20px;
}
.wyndham blockquote p {
  margin-top: 8px;
}

.bernice {
  font-family: 'Alex Brush', cursive;
  line-height: 1.4;
  font-size: 22px;
}

.webster {
  font-family: 'Amatic SC', cursive;
  line-height: 1.4;
  font-size: 22px;
}
.webster p {
  margin-top: 10px;
}

.nofont .harrison,
.nofont .alberts,
.nofont .gail,
.nofont .wyndham,
.nofont .bernice,
.nofont .webster
{
	font-family: Arial !important;
	font-size: 12px !important;
	line-height: 1.4;
}

.clipping {
  font-family: 'Special Elite', cursive;
  background: url(../images/newspaper.jpg);
  color: rgba(50, 50, 50, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 26px auto 50px auto;
  padding: 24px;
  position: relative;
  max-width: 550px;
}

.clipping p, .clipping li {
  line-height: 1.2em;
}

.sidebar.clipping li {
  line-height: 1.6em;
}
